html
    head
        link(rel="stylesheet", href="/public/site.css")
        title= title
    body
        h1= message
p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit quod officiis vitae nam labore dignissimos quibusdam, ad illo est. Non, laborum! Necessitatibus animi enim, id illum consequatur natus repellat deserunt?